html {
    background: rgb(255, 252, 249);
}

table {
    border: 2px solid rgb(52, 73, 102);
    border-radius: 5px;
    border-collapse: separate;
    border-spacing: 5px 5px;
    text-align: center;
    align-content: center;
    empty-cells: hide;
    margin-left: auto;
    margin-right: auto;
    table-layout: fixed;
    width: 60%;
}

th, td {
    border: 2px solid rgb(52, 73, 102);
    border-radius: 5px;
    width: 125px;
    height: 25px;
}

a {
    color: black;
}

a:link {
    text-decoration: none;
}

.numero {
    max-width: 25px;
}

.teo {
    background-color: rgb(175, 210, 233);
}

.calc {
    background-color: rgb(163, 121, 201);
} 

.estatica {
    background-color: rgb(247, 86, 124);
}

.edo {
    background-color: rgb(161, 232, 204);
}

.creatividad {
    background-color: rgb(252, 221, 242);
}